<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | Bootstrap1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- beginning of styling :') ___  -->
    <!-- fikdik.atom: .div$tab -->
    <!-- moral da história: tu trata as classes do ruby como parâmetros das divs lol -->
    <div class="container" <%=controller_name%> <%=action_name%>  >
      <%= yield %>
    </div>
  </body>
</html>
